:root{
    --main-color:#17164d;
    --blue-color:#149dcc;
    --white-color:#ffffff;
    --ight-gray:#f4f4f4;
}
html {scroll-behavior: smooth; }
*:focus {outline: 0!important; }
html, body{ overflow-x: hidden!important;}
html{margin: 0;padding: 0;}
body{color: var(--main-color);font-family: 'Rubik', sans-serif;font-size: 16px;font-weight: 600;line-height: 1.5;}
a:active, a:focus {outline: none !important;}
ul{margin-bottom: 0px!important;}
li{list-style: none;}
h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0;padding: 0;}
section{padding: 60px 0;}

.btn{background: var(--white-color)!important;border: 0!important;color: var(--main-color)!important;font-weight: 700!important;}
.btn:active,
.btn:focus,
.btn:focus:active {
  background-image: none!important;
  outline: 0!important;
  box-shadow: none!important;
}
.title{font-size:46px;color: var(--main-color);font-weight: 400;}
/**********Nabar CSS************/
.navbar{background: transparent!important;position: absolute!important;z-index:999;width:100%!important}
.navbar-light .navbar-nav .nav-link {color: #fff!important;font-weight: 700!important;font-size: 18px!important;}
@media screen and (max-width:992px){
  .navbar-nav {background: #17164d!important;text-align: center!important;padding: 50px 0!important;}
  .navbar-toggler{background: var(--white-color)!important;}
}
/**********Header Banner Start************/
header{padding:180px 0;max-width: 100%;height: auto;background: url('./img/bg-banner.jpg');background-repeat: no-repeat;background-size: cover;background-position:bottom;}
header h1{ font-size:60px;color:var(--white-color);font-weight: 700;padding-left:40px;} 
header h1:after{content: '';width: 5px;height: 92%;left: 0;top: 5%;bottom: 0;background: #fff;position: absolute;}
/* vison-mission */
#vison-mission .thumbnails{width: 100%;height:250px;max-height:250px;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;padding: 30px;}
#vison-mission .thumbnails::after{
  content: '';
  width: 100%;
  height: 3px;
  background: var(--blue-color);
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
#vison-mission .thumbnails:hover:after{transform: scale(1);}
#vison-mission .thumbnails h4{font-weight: 700;color: var(--main-color);margin-bottom: 20px;}
/* Who Meet Our Criteria */
#who-meetour-criteria{background: var(--ight-gray);}
#who-meetour-criteria .title{font-size: 36px;}
#who-meetour-criteria ul li{color: var(--main-color);font-weight: 600;font-size: 16px;margin: 20px 0;position: relative;padding-left: 60px;align-items: center;}
#who-meetour-criteria ul li:before{ position: absolute;content: "+";left:0;top: -5px; font-size: 18px;padding-top: 3px; display: inline-block;text-align: center;line-height: 17px;color: rgb(255, 255, 255);width: 25px;height: 25px;margin: 5px 10px;transition: all 0.2s ease 0s;background: rgb(20, 157, 204); border-radius: 50%;}
/* if-youare-intrested */
#if-youare-intrested .button-wrapper{width: 100%;background: url('./img/button-wrapperbg.jpg');background-size: cover;background-position: center;}
#if-youare-intrested .button-wrapper{padding: 40px 30px;color: #fff;}
#if-youare-intrested .button-wrapper h2{font-size: 36px;font-weight: 700;}
#if-youare-intrested .button-wrapper .btn{padding: 13px 60px;}

/*******About Us******************/
#acquisition #about-us{padding: 60px 0;}
#acquisition #about-us p{margin-top: 30px;}
#acquisition #about-us p{text-transform: capitalize;}
/********* Adding Portfolio ***************/
#acquisition #adding-portfolio .outer-wrapper{width: 100%;max-width: 94vw; margin: 0 auto; position: relative;z-index: -1;}
#acquisition #adding-portfolio .main-box{width: 70%;display: flex;min-height: 20px;background: #fff;padding: 50px;
  box-shadow: rgba(56, 56, 87, 0.4) 0px 10px 40px 0px;}
  #acquisition #adding-portfolio .main-box .content h3{font-weight: 700;font-size: 32px;}
  #acquisition #adding-portfolio .main-box .content ul li{color: var(--main-color);font-weight: 600;font-size: 16px;margin: 20px 0;position: relative;padding-left: 60px;}
  #acquisition #adding-portfolio .main-box .content ul li:before{ position: absolute;content: "✓";left:0;top: 5%; font-size: 18px;padding-top: 3px; display: inline-block;text-align: center;line-height: 20px;color: rgb(255, 255, 255);width: 25px;height: 25px;margin: 5px 10px;transition: all 0.2s ease 0s;background: rgb(20, 157, 204); border-radius: 50%;}
  #acquisition #adding-portfolio .over-wrapper{position: absolute;z-index: -1;right: 0;top: auto;right: 0%;top:-20%;width: 40%;height: 90%;
background-image: url("../img/over-img.png");background-position: 0px 0px;background-size: cover;background-repeat: no-repeat;}
/* Who Meetour Criteria */
#acquisition #who-meetour-criteria{background: var(--ight-gray);}
#acquisition #who-meetour-criteria .title{font-size: 30px;}
#acquisition #who-meetour-criteria ul li{color: var(--main-color);font-weight: 600;font-size: 16px;margin: 20px 0;position: relative;padding-left: 60px;align-items: center;}
#acquisition #who-meetour-criteria ul li:before{ position: absolute;content: "+";left:0;top:0; font-size: 18px; justify-content:center;align-items:center;color: rgb(255, 255, 255);width: 25px;height: 25px;margin: 5px 10px;transition: all 0.2s ease 0s; border-radius: 50%;}

/* Responsive Media Query */
@media screen and (max-width:768px){
  .mv-my-30{margin: 30px 0;}
  section{padding: 30px 0;}
  header{padding:100px 0 40px 0;}
  header h1{font-size: 32px; text-align: center;padding-left: 0;}
  header h1:after {display: none;}
  #acquisition #about-us {padding: 30px 0 0 0;}
  #about-us {padding-bottom: 0px;}
  #who-meetour-criteria .title, .title {font-size: 24px!important}
  #if-youare-intrested .button-wrapper {padding: 20px;}
  #if-youare-intrested .button-wrapper h2 {font-size: 24px;text-align: center;}
  #if-youare-intrested .button-wrapper .btn {padding: 8px 20px;margin-top:15px;}
}
@media screen and (min-width:769px) and (max-width:1200px){
  .mv-mt-30{margin-top:30px!important}
  section{padding: 30px 0;}
  header{padding:150px 0 100px 0;}
  header h1{font-size: 46px; text-align: center;padding-left: 0px;}
  header h1:after {display: none;}
  #if-youare-intrested .button-wrapper h2 {font-size: 26px;}
  #who-meetour-criteria .title { font-size: 26px}
  #if-youare-intrested .button-wrapper .btn { padding: 13px 30px;}
}
@media screen and (max-width:992px){
  #acquisition #over-wrapper ul li {line-height: 30px;font-size: 18px;padding-left: 60px;}
  #acquisition #over-wrapper ul li:before{left: 0;}
  #acquisition #adding-portfolio .over-wrapper{position: unset;}
  #acquisition #adding-portfolio .main-box {width: 100%;padding: 20px 30px;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px!important}
}
